datalens_test_lab:
  target: cloud
  outputs:
    cloud:
      type: snowflake
      account: "{{ env_var('SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('SNOWFLAKE_USER') }}"
      password: "{{ env_var('SNOWFLAKE_PASSWORD') }}"
      role: DBT_ROLE
      database: ANALYTICS
      warehouse: DBT_WH
      schema: ANALYTICS
      threads: 4
      client_session_keep_alive: false

